* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 19px;
  color: #fffff8;
  line-height: 1.6;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #f8f4f4;
}

.container {
  background-color: black;
  max-width: 1500px;
  margin: auto;
  padding-left: 20px;
  padding-right: 50px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 400px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25p 0;
}
.btn {
  display: inline-block;
  background: #b7680e;
  color: #f4f4f4;
  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 30px;
}

.body-text {
  color: #0a0808;
}
.body-text p {
  margin: 15px 20px;
  padding: 20px;
  text-align: start;
  max-width: 65%;
}
.body-text h1 {
  max-width: 65%;
  margin: 20px 10px;
  padding: 20px;
  text-align: start;
}
.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.row2 img {
  margin: 0 20px;
  padding: 0 15px;
}
<!----RESULTS-- > section {
  width: 80%;
  margin: 50px auto;
  color: #0a0808;
}

.title {
  text-align: center;
  font-size: 4vmin;
  color: #e02e2e;
}
.row3 {
  color: #2d2b2b;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.row3 p {
  max-width: 70%;
  font-size: small;
  padding: 0px 10px;
  border: 1px solid rgb(66, 63, 63);
  border-radius: 10px;
}
.col-3 {
  flex-basis: 40%;
  min-width: 400px;
}

.col-3 img {
  border-radius: 30px;
  max-width: 80%;
  padding: 50px 0;
}
.body-text2 {
  background: #181818;
  color: #0a0808;
  max-width: auto;
  align-items: center;
 
}
.body-text2 h1 {
  max-width: 20%;
  margin: 0px 10px;
  padding: 20px;
  text-align: start;
  color: #f4efef;
}
.container2{
  background: #252424;
  color: #f3eeee;
  margin: 0px 0px;
 display: flex;
 height: 50vh;
 align-items: center;
 justify-content: center;
 gap: 3em;
 padding: 0 40px;
 /* flex-grow: 1; */
}
.box1, .box2, .box3{
width: 15em;
height: 25em;
background-color: rgb(18, 18, 18);
box-shadow: 5px 5px 25px black;
padding: 10px 30px;
border-radius: 10px;
}

.offer{
 color: #eeeaea;
  max-width: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.offer .col-4{
 flex-basis: 35%;
 min-width: 300px;


   
  }
  .col-4 img{
    max-width: 100%;
    padding: 50px 0;
   
    }

    .container3{
      background: #252424;
      max-width: auto;
      padding: 30px 30px;
     color: #f1eeee;
     margin-top: 0px;
     
      }

      .footer{
      
       width: 100%;
       min-height: 50px;
       padding: 20px 30px;
       margin: 0;
       background: #252424;
       text-align:center ;

        }
        .footer p{
        
            
           }

@media (max-width: 900px)
{
 .container2{
height: 50%;
flex-direction: column;
 
}
.box1, .box2, .box3{
max-width: 50%;
padding: 30px;
height: 22em;
 
}
 
}